<?xml version="1.0" encoding="UTF-8"?>
<widget id="com.repoflow" version="1.0.0" android-versionCode="1" xmlns="http://www.w3.org/ns/widgets">
    <name>RepoFlow</name>
    <content src="index.html" />
    <access origin="*" />
    <preference name="android-minSdkVersion" value="24" />
    <preference name="android-targetSdkVersion" value="34" />
    <preference name="android-compileSdkVersion" value="34" />

    <platform name="android">
        <icon src="res/icon.png" />

        <icon background="res/android/icon-background.png" 
              foreground="res/android/icon-foreground.png" />
    </platform>
</widget>
